@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");

h1 {
  font-family: "Creepster", cursive;
  color: rgb(130, 245, 126);
  font-size: 70px;
  -webkit-text-stroke: 2px black;
}

body {
  background-color: grey;
}

.green {
  background-color: rgb(130, 245, 126);
  color: black;
  margin-left: 5px;
}
